<div class="ui-g">

  <div class="ui-g-12">
    <h2>Internship Acceptance Form</h2>
    <h3 style="color: blueviolet">Form - I</h3>
  </div>

  <div class="ui-g-12">
    <h4><b>Personal Details</b></h4><br/>
    <form>

      <div class="form-group">
        <label for="studentID">Student ID:</label>
        <input type="text" class="form-control" placeholder="Enter Student ID">
      </div>

      <div class="form-group">
        <label for="studentName">Student Name:</label>
        <input type="text" class="form-control" placeholder="Enter Student Name">
      </div>

      <div class="form-group">
        <label for="address">Address:</label>
        <input type="text" class="form-control" placeholder="Enter Address">
      </div>

      <div class="form-group">
        <label for="homePhone">Home Phone:</label>
        <input type="text" class="form-control" placeholder="Enter Home Phone">
      </div>

      <div class="form-group">
        <label for="mobile">Mobile:</label>
        <input type="text" class="form-control" placeholder="Enter Mobile Phone">
      </div>

      <div class="form-group">
        <label for="emails">Emails:</label>
        <input type="text" class="form-control" placeholder="Enter Emails">
      </div>
      
      <br />
      <h4><b>Academic Info</b></h4><br/>
    
      <div class="form-group">
          <label for="semester">Semester:</label>
          <input type="number" class="form-control" placeholder="Enter Semester">
      </div>

      <div class="form-group">
          <label for="year">Year:</label>
          <input type="number" class="form-control" placeholder="Enter Year">
      </div>

      <div class="form-group">
          <label for="cgpa">CGPA:</label>
          <input type="number" class="form-control" placeholder="Enter CGPA">
      </div>


      <div style="float:right;">
          <button style="width: 4cm; margin-bottom: 2mm" type="submit" class="btn btn-primary">Submit</button><br/>
          <button style="width: 4cm" type="reset" class="btn btn-default">Reset</button>
      </div>
     
    </form>

  </div>

</div>