<div class="ui-g">
    
  <div class="ui-g-12" >
    
    <h2>Internship Accepatance - Form-I</h2>
  
  </div>

  <div class="ui-g-6">
    
    <h3>Personal Details</h3>
  
    <input type="text" placeholder="Student ID" pInputText [(ngModel)]="property"/> 
    <br />
    <input type="text" placeholder="Student Name" pInputText [(ngModel)]="property"/>
    <br />
    <input type="text" placeholder="Address" pInputText [(ngModel)]="property"/>
    <br />
    <input type="text" placeholder="Home Phone" pInputText [(ngModel)]="property"/>
    <br />
    <input type="text" placeholder="Mobile" pInputText [(ngModel)]="property"/>
    <br />
    <input type="text" placeholder="Emails" pInputText [(ngModel)]="property"/>
  </div>

  <div class="ui-g-6">
    
    <h3>Academic Info</h3>

    <input type="text" placeholder="Semester" pInputText [(ngModel)]="property"/> 
    <br />
    <input type="text" placeholder="Year" pInputText [(ngModel)]="property"/>
    <br />
    <input type="text" placeholder="CGPA" pInputText [(ngModel)]="property"/>
  </div>

      

</div>
