# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
Frontend/dist
Frontend/tmp
Backend/tmp
Frontend/out-tsc

# dependencies
Frontend/node_modules
Backend/node_modules

# IDEs and editors
/.idea
Frontend/.idea
Backend/.idea

.project
Frontend/.project
Backend/.project

.classpath
Frontend/.classpath
Backend/.classpath

.c9/
Frontend/.c9/
Backend/.c9/

*.launch
Frontend/*.launch
Backend/*.launch

.settings/
Frontend/.settings/
Backend/.settings/

*.sublime-workspace
Frontend/*.sublime-workspace
Backend/*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

Frontend/.vscode/*
Backend/.vscode/*

# misc
Frontend/.sass-cache
Frontend/connect.lock
Frontend/coverage
Frontend/libpeerconnection.log
Backend/libpeerconnection.log
Frontend/npm-debug.log
Backend/npm-debug.log
Frontend/yarn-error.log
Backend/yarn-error.log
Frontend/testem.log
Frontend/typings

# System Files
Frontend/.DS_Store
Backend/.DS_Store
Frontend/Thumbs.db
Backend/Thumbs.db