# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
Frontend/dist
Frontend//tmp
Frontend//out-tsc

# dependencies
Frontend//node_modules

# IDEs and editors
/.idea
Frontend/.idea
.project
Frontend/.project
.classpath
Frontend/.classpath
.c9/
Frontend/.c9/
*.launch
Frontend/*.launch
.settings/
Frontend/.settings/
*.sublime-workspace
Frontend/*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

Frontend/.vscode/*

# misc
Frontend/.sass-cache
Frontend/connect.lock
Frontend/coverage
Frontend/libpeerconnection.log
Frontend/npm-debug.log
Frontend/yarn-error.log
Frontend/testem.log
Frontend/Frontend/typings

# System Files
Frontend/.DS_Store
Frontend/Thumbs.db

# Backend
Backend/node_modules