<div *ngIf="!studentID; else forminfo">
  <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
    <div class="container">
        <h2 style="color: blueviolet">Form I-1 Email</h2>
      <div class="form-group">
        <label for="studentId">Student ID</label>
        <input type="text" class="form-control" formControlName="studentId" placeholder="Enter the Student ID" required>
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" formControlName="email" placeholder="Enter the Email" required>
      </div>
      <div class="form-group">
        <label for="email">Email Subject</label>
        <input type="email" class="form-control" formControlName="subject" value="Internship">
      </div>
     
      <!-- <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" formControlName="fileinput">
        <p class="help-block">Find the file name from your device.</p>
      </div> -->
      <div class="form group">
      <button type="submit" class="btn btn-primary">Send</button>
      <button (click)="goBack()" type="button" class="btn btn-default" [routerLink]="['/']" >Back</button>
      </div>
      </div>
    </form>



</div>

<ng-template #forminfo>
  <div class="container">
      <div class="row columns ">
        <h1>{{studentId}}</h1>
  
        <p>{{email}}</p>
      </div>
  </div>
  </ng-template  >
