<div class="container">
    <div class="page-header">
        <h3>SLIIT INDUSTRIAL TRAINING MANAGEMENT SYSTEM</h3>
    </div>

    <div class="row" >
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">Hi again!</div>
                <br>
                <div class="panel-body">
                    <form ng-submit="auth.login()">
                        <table>
                        <div class="form-group">
                            <tr>
                            <td><label>Username:</label></td>
                            <td><input type="text" class="form-control" name="username" placeholder="Enter username" id="username" ng-model="auth.login.user.username"></td>
                            </tr>
                        </div>
                        <div class="form-group">
                            <tr>
                            <td><label>Password:</label></td>
                            <td><input type="password" class="form-control" name="Password" placeholder="Enter password" id="password" ng-model="auth.login.user.password"></td>
                            </tr>
                        </div>
                        <tr>
                        <div class="checkbox"><td><label><input type="checkbox" ng-model="auth.remeberme">Remember me</label></td>
                        <td align="right"><a href="#/forget" class="pull-right">Forgot Password?</a></td>
                        </div>
                        </tr>
                        </table>
                        <br>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Sign in </button>
                        </div>
                        <br>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">Join with us!</div>
                <br>
                <div class="panel-body">
                    <form name="register" ng-submit="auth.register()">
                        <table>
                        <div class="form-group">
                            <tr>
                            <td><label>First Name:</label></td>
                            <td><input type="text" class="form-control" name="firstname" placeholder="Enter firstname" id="firstname" ng-model="auth.user.firstname"> </td>
                            </tr>
                        </div>
                        <div class="form-group">
                            <tr>
                            <td><label>Second Name:</label></td>
                            <td><input type="text" class="form-control" name="lastname" placeholder="Enter lastname" id="lastname" ng-model="auth.user.lastname"> </td>
                            </tr>
                        </div>
                        <div class="form-group">
                            <tr>
                            <td><label>Username:</label></td>
                            <td><input type="text" class="form-control" name="username" placeholder="Enter username" id="username2" ng-model="auth.user.username"> </td>
                            </tr>
                        </div>
                        <div class="form-group">
                            <tr>
                            <td><label>Password:</label></td>
                            <td><input type="password" class="form-control" name="newPassword" placeholder="Enter password" id="password2" ng-model="auth.user.password"> </td>
                            </tr>
                        </div>
                        <div class="form-group">
                            <tr>
                            <td><label>Password Again:</label></td>
                            <td><input type="password" class="form-control" name="newComPassword" placeholder="Enter password again" id="comfpassword" ng-model="newComPassword"> </td>
                            </tr>
                        </div>
                        </table>
                        <br>
                        <button class="btn btn-success" ng-click="auth.showToastr()" type="submit">Sign up</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>

    </div>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><img class="img-responsive" src="../Images/internship-blog-post-image@2x.png" alt="internship" width="520" height="345"></div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="panel panel-default">

            <div class="panel-footer">
                <h6>Contact Us: info.itu@sliit.lk | www.sliit.lk | +94 123 456789<span class="pull-right">©SLIITITU</span></h6>
            </div>
        </div>
    </div>
</div>