<div class="ui-g-12">
    <div class="ui-g-12 ui-g-nopad">
        <button routerLink="/dashboard" pButton type="button" icon="fa fa-arrow-left" label="Dashboard" class="ui-button-secondary"></button>
        
    </div>
<div style="align-items: center">
  <h3>Viva Shedule For Interns</h3>
</div>

<form>
  <div class="form-group">
    <label for="batch">Batch</label>
    <select class="form-control form-control-sm">
      <option>WeekEnd</option>
      <option>WeekDay</option>
    </select>
  </div>
  <div class="form-group">
    <label for="Specialization">Specialization</label>
    <select class="form-control form-control-sm">
      <option>Software Engineering</option>
      <option>Information Technology</option>
      <option>Data Science</option>
    </select>
  </div>
  <div class="form-group">
    <label for="date">Specialization</label>
    <input type="date" class="form-control" id="date" placeholder="mm/dd/yyyy">
  
  </div>
  <div class="form-group">
    <label for="allocatetime">Allocation time</label>
    <input type="time" class="form-control" id="date" placeholder="time">
  </div>
  <div class="form-group">
    <label for="date">End Date</label>
    <input type="date" class="form-control" id="date" placeholder="mm/dd/yyyy">
  </div>


<button type="submit" class="btn btn-primary">Shedule</button>
</form>
</div>

