<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Batch</th>
                <th>Specialization</th>
                <th>Start Date</th>
                <th>Allocation Time</th>
                <th>End Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <!-- <td>Volume of work</td>
                <td><label><input type="checkbox"></label></td>
                <td><label><input type="checkbox"></label></td>
                <td><label><input type="checkbox"></label></td>
                <td></td> -->
            </tr>
           
        </tbody>
    </table>
</div>