/* You can add global styles to this file, and also import other style files */

.ui-steps .ui-steps-item {
    width: 25%;
}

.ui-steps.steps-custom {
    margin-bottom: 30px;
}

.ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
    height: 10px;
    padding: 0 1em;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-number {
    background-color: #0081c2;
    color: #FFFFFF;
    display: inline-block;
    width: 36px;
    border-radius: 50%;
    margin-top: -14px;
    margin-bottom: 10px;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-title {
    color: #555555;
}

textarea.no-resize {
    resize: none;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.form-group-label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.required {
    color: #ff0000;
}

.text-highlightd{
    color: #2196f3;
}

.text-warning {
    color: #ff0000;
}