<div>
    <acme-navbar></acme-navbar>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <h3>Register Student</h3>
                            <hr>
                            <table>
                                <tr>
                                <div class="form-group">
                                <td><label>Student Name:</label></td>
                                <td><input type="text" class="form-control" name="studentName" placeholder="Name of the student" id="studentName"  ng-disabled="main.payType=='false'" ></td>
                                </div>
                                </tr>
                                <tr>
                                <div class="form-group">
                                <td><label>Student Registration Number:</label></td>
                                <td><input type="text" class="form-control" name="regNumber" placeholder="Registration Number" id="regNumber"  ng-disabled="main.payType=='false'" ></td>
                                </div>
                                </tr>
                                <tr>
                                <div class="form-group">
                                <td><label>Degree:</label></td>
                                <td><div class="selectContainer">
                                        <select class="form-control" name="Degree" ng-model="main.theatre" ng-change="main.loadMovies()" options ng-options="theatre.tName for theatre in main.theatres">
                                        </select>
                                    </div>
                                </td>
                                </div>
                                </tr>
                                <tr>
                                <div class="form-group">
                                <td><label>Organization Name:</label></td>
                                <td><input type="text" class="form-control" name="orgName" placeholder="Name of the organization" id="orgName"  ng-disabled="main.payType=='false'" ></td>
                                </div>
                                </tr>
                                <tr>
                                <div class="form-group">
                                <td><label>Department:</label></td>
                                <td><input type="text" class="form-control" name="deptName" placeholder="Department name" id="deptName"  ng-disabled="main.payType=='false'" ></td>
                                </div>
                                </tr>
                                <tr>
                                <div class="form-group">
                                <td><label>Designation:</label></td>
                                <td><input type="text" class="form-control" name="designation" placeholder="Designation" id="designation"  ng-disabled="main.payType=='false'" ></td>
                                </div>
                                </tr>
                                <tr>
                                <div class="form-group">
                                <td><label>Internship Period:</label></td>
                                <td><input type="number" class="form-control" name="period" placeholder="No of months" id="period"  ng-disabled="main.payType=='false'" > Months</td>
                                </div>
                                </tr>
                                <tr>
                                <div class="form-group">
                                <td><label>Internship Start Date:</label></td>
                                <td><div class='input-group date' id='datetimepicker1'>
                                        <input type='text' class="form-control" placeholder="Select date" ng-model="main.Bdate" />
                                        <span class="input-group-addon" id="basic-addon2"> Date
                                        </span>
                                    </div>
                                </td>
                                </div>
                                <script type="text/javascript">
                                    $(function () {
                                        $('#datetimepicker1').datetimepicker();
                                    });
                                </script>
                                </tr>
                                <tr>
                                    <div class="form-group">
                                        <td><label>Internship End Date:</label></td>
                                        <td><div class='input-group date' id='datetimepicker2'>
                                            <input type='text' class="form-control" placeholder="Select date" ng-model="main.Bdate" />
                                            <span class="input-group-addon" id="basic-addon1"> Date
                                        </span>
                                        </div>
                                        </td>
                                    </div>
                                    <script type="text/javascript">
                                        $(function () {
                                            $('#datetimepicker2').datetimepicker();
                                        });
                                    </script>
                                </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group pull-right">
                                <button class="btn btn-success">Submit</button>
                                <button class="btn btn-danger">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>