
<div class="ui-g">
    <div class="ui-g-offset-2 ui-g-8">
        <h1 style="text-align: center">Dashboard</h1>
        <hr/>
        <!-- Change routerLink to /dashboard/form-1-student-->
        <button routerLink="/dashboard/formI-1-supervisor" type="button" class="btn btn-primary btn-block"><span class="badge">Form I-1 Supervisor</span>Form I-1 Student Supervisor</button>
        <!-- Change routerLink to /dashboard/form-1-->
        <button routerLink="/dashboard/formI-1-supervisor-email" type="button" class="btn btn-primary btn-block"><span class="badge">Form I-1 Supervisor - Email</span>Form I-1 Supervisor - Email</button>

        <button routerLink="/dashboard/form-5" type="button" class="btn btn-primary btn-block"><span class="badge">Form I-3</span>Form I-3 Report</button>
        <button routerLink="/dashboard/form-5" type="button" class="btn btn-primary btn-block"><span class="badge">Form I-5</span>Form I-5 Report</button>
        <button routerLink="/dashboard/intern-report" type="button" class="btn btn-primary btn-block"><span class="badge">Form I-6</span>Form I-6 Report</button>
        <button routerLink="/dashboard/form-5/form-5-email" type="button" class="btn btn-primary btn-block"><span class="badge">Viva</span>Viva Shedule</button>
        <button routerLink="/dashboard/form-5-email" type="button" class="btn btn-primary btn-block"><span class="badge">Form I-5 Email</span>Form I-5 Email</button>
        <button routerLink="/dashboard/viewshedule" type="button" class="btn btn-primary btn-block"><span class="badge">View Viva</span>View Viva Shedule</button>
    </div>
</div>
